<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 

<mapper namespace="com.sdd.mapper.IStudentMapper">
	<select id="selectStudentById" parameterType="int" resultType="com.sdd.pojo.po.Student">
		select * from student where id=#{id}
	</select>
	<insert id="addStudent" parameterType="com.sdd.pojo.po.Student">
		insert into student (id,name,password,age,gender,cid) 
		values (#{id},#{name},#{password},#{age},#{gender},#{cid})
	</insert>
	<delete id="removeStudentById" parameterType="int">
		delete from student where id=#{id}
	</delete>
	<update id="updateStudentById" parameterType="int">
		update student set name=#{name},password=#{password},age=#{age},gender=#{gender},cid=#{gender}
		 where id=#{id}
	</update>
</mapper>